version: "3"
services:

 invidious:
   image: quay.io/invidious/invidious:latest
   # image: quay.io/invidious/invidious:latest-arm64 # ARM64/AArch64 devices
   restart: unless-stopped
   ports:
           #- "127.0.0.1:3000:3000"
     - "3000:3000"
   environment:
     # Please read the following file for a comprehensive list of all available
     # configuration options and their associated syntax:
     # https://github.com/iv-org/invidious/blob/master/config/config.example.yml
     INVIDIOUS_CONFIG: |
       db:
         dbname: invidious
         user: someusername
         password: somestrongpassword
         host: invidious-db
         port: 5432
       check_tables: true
       # external_port:
       # domain:
       # https_only: false
       # statistics_enabled: false
   healthcheck:
     test: wget -nv --tries=1 --spider http://127.0.0.1:3000/api/v1/comments/jNQXAC9IVRw || exit 1
     interval: 30s
     timeout: 5s
     retries: 2
   depends_on:
     - invidious-db

 invidious-db:
   image: docker.io/library/postgres:14
   restart: unless-stopped
   volumes:
     - postgresdata:/var/lib/postgresql/data
     - ./config/sql:/config/sql
     - ./docker/init-invidious-db.sh:/docker-entrypoint-initdb.d/init-invidious-db.sh
   environment:
     POSTGRES_DB: invidious
     POSTGRES_USER: someusername
     POSTGRES_PASSWORD: somestrongpassword
   healthcheck:
     test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]

volumes:
